
@media (max-width:1420px){

    .container{
        position:relative;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}


@media (max-width:1220px){

    .container{
        position:relative;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}

@media (max-width:1060px){
    nav ul li{
        margin-right: 20px;
    }
}

@media (max-width:919.5px){
    nav ul li{
        margin-right: 25px;
    }
    nav ul input{
       display: none;
    }
    ul .fa-search{
        margin-left: 0px;
        margin-right: 15px;
    }
}

@media (max-width: 768px) {
    nav .bars{
        display: block;
        background-color:#F2F2F2;
    }
    nav ul li{
        display: none;
    }
}

@media (max-width: 600px) {
    h1{
        font-size: 22px;
    }

    .head_firs{
        padding: 0 30px;
    }
}